body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto;
}

button{
    font-family: 'Fjalla One', sans-serif;
}

nav { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
   
}


main {
    background: #F3EEE6;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

footer {
    background: #514663;
    color: #F3EEE6;
    text-align: center;
    line-height: 60px;
    font-family: 'Nunito', sans-serif;
    
}

header {
    background-color: #EF767A;
    color: #EF767A;
    line-height: 10px;
}

nav, section, aside {
      
    background-color: #F3EEE6;
    color: #000000;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}
   
nav {

    flex-grow: 1;
    /* border: 5px solid black; */
}


section {
    flex-basis: 300px;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column;
    align-items: space-around;
    padding: 30px;
    /* box-shadow: 0px 15px 20px 7px grey; */
}



aside {
    flex-grow: 1;
    flex-shrink: 5;
    /* border: 5px solid black; */
}

.score {
    margin: 20px;
    width: 50px;
    border-radius: 5px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    user-select: none;
}

.X {
    background-color: red;
}

.O {
    background-color: blue;
}

#turn {
    box-shadow: 0px 0px 0px 3px black;
    text-decoration: underline;
}

.winner{
    background-color: none;
    color: black;
}


#board {
    display: grid;
    background-color: rgba(218, 124, 36, 0);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    grid-auto-rows: 1fr; 
    grid-auto-columns: 1fr;
    align-items: center;
    border-radius: 3%;
    padding: 10px;
    user-select: none;
}

.game-over {
    user-select: pointer;
}

.space {
    height: 100px;
    width: 100px;
    text-align: center;
    color: rgba(0,0,0,0);
    border-radius: 5%;

}

.empty{
    background-color: rgba(224, 206, 165, 0.8);
}

.empty:hover{
    background-color: rgba(224, 206, 165, 0.8);
}

button {
    padding: 10px;
    margin: 10px;
}

h1 {
    text-align: center;
}

.scoreboard {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scoreboard > div:hover {
    opacity: 0.5;


}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    user-select: none;
}

.buttons > div {
    padding: 5px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    background-color: rgb(170, 169, 169);
    margin: 5px;
    padding: 5px 9px;
    border-radius: 15%;
    width: 20px;
}

.buttons > div:hover {

    background-color: rgb(218, 218, 218);  
}
.buttons > div:active {

    background-color: rgb(173, 173, 173);  
    box-shadow: 0px 0px 0px 1px black;
}

.mobile {
    display: none;
}

footer > a{
    color: #F3EEE6;
}


@media screen and (max-width: 600px){
    #turn {
        box-shadow: 0px 0px 0px 4px black;
        text-decoration: underline;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: inline;
    }

    .buttons {

        justify-content: space-around;
        margin-right: 0;

    }

    .buttons > div {
        font-size: 18px;
        margin: 5px;
        padding: 5px;
        width: 100px;
        border-radius: 5%;
        text-align: center;
    }

    .score {
        width: 80px;
        font-size: 25px;
    }
    .scoreboard > div:hover {
        opacity: 1;
    
    
    }

    

   
}
